.card {
    width: 360px;
    margin-top: 50px;
    padding: 50px;
    background: rgb(224, 224, 224);
   

}

.title {
    display: block;
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 20px;
    color: #393939;
    text-transform: uppercase;
}